@model Restugrp07.Models.Resevation

@{
    ViewBag.Title = "Checkedin successfuly";
}

<h2>Checkedin successfuly</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occationdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occationdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numberofguests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numberofguests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resevationtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resevationtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Tablelayout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tablelayout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Themecolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Themecolor)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Resavationslip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resavationslip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waiteremail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waiteremail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCheckedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCheckedin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkindate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkindate)
        </dd>

    </dl>
</div>

